body{
  background-image: url(back3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 8em;
  min-height: 100%;

}

.footer1{
width: 74%;
margin-left: 11em;
height: auto;
background-image:linear-gradient(#171616,#171616),url(back3.jpg);
opacity: 0.85;
background-position: center;
padding-bottom: 20px;


}

.footer1 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:9px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer1 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(241, 240, 239);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer1 p{
  color: rgb(238, 231, 231);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}

.footer2{
 width: 74%;
background-color: grey;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back3.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer2 img{
  width: 275px;
  height: 230px;
  margin-left:10px;
  float: right;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer2 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer2 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer3{
 width: 74%;
background-color: grey;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer3 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer3 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer3 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: inherit;
  padding-bottom: 10px;
  font-weight: bold;
}
.footer4{
 width: 74%;
background-color: grey;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;
}

.footer4 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:9px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer4 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer4 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer5{
 width: 74%;
background-color: grey;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer5 img{
  width: 275px;
  height: 230px;
  float: right;
  margin-left:9px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer5 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer5 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer6{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer6 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer6 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer6 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer7{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer7 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer7 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer7 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer8{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer8 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer8 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer8 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer9{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer9 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer9 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer9 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer10{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#171616),url(back2.jpg);
background-position: center;
opacity: 0.85;
padding-bottom: 20px;

}

.footer10 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer10 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer10 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: bold;
  
}
.footer11{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer11 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer11 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer11 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer12{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer12 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer12 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer12 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer13{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer13 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer13 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer13 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer14{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer14 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer14 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer14 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer15{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer14 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer14 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer14 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer15{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer15 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer15 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer15 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer16{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer16 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer16 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer16 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer17{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer17 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer17 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer17 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer18{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;
}

.footer18 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer18 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer18 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer19{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer19 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer19 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer19 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer20{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer20 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer20 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer20 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer21{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer21 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer21 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer21 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer22{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer22 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer22 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer22 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
.footer23{
 width: 74%;
margin-left: 11em;
height: auto;
border-radius: 10px;
background-image:linear-gradient(#171616,#0f0f0f),url(back2.jpg);
background-position: center;
opacity: 0.90;
padding-bottom: 20px;

}

.footer23 img{
  width: 275px;
  height: 230px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  border: 2px solid brown;
  margin-bottom: 4px;
}
.footer23 h2{
  text-align: center;
  padding: 20px 30px;
  color:rgb(233, 229, 229);
  font-family: sans-serif;
  text-transform: uppercase;

}

.footer23 p{
  color: rgb(185, 179, 179);
  font-family:sans-serif;
  font-weight: bold;
  margin:12px;
  height: auto;
  text-align: justify;
  padding-bottom: 10px;
  
}
@media(max-width:450px){
  body{
    background: rgb(2, 245, 192);
  }
  .footer1,.footer2,.footer3,.footer4,.footer5,.footer6,.footer7,.footer8,.footer9,.footer10
  ,.footer11,.footer12,.footer13,.footer14,.footer15,.footer16,.footer17,.footer18,.footer19,.footer20
  ,.footer21,.footer22,.footer23{
   margin:auto;
   width:100%;
   border-radius: 10px;
   background: white;
   opacity: 1;
   
  }

  .footer1 img,.footer2 img,.footer3 img,.footer4 img,.footer5 img,.footer6 img
  ,.footer7 img,.footer8 img,.footer9 img,.footer10 img,.footer11 img,.footer12 img,.footer13 img,.footer14 img,.footer15 img,
  .footer15 img,.footer16 img,.footer17 img,.footer18 img,.footer19 img,.footer20 img,.footer21 img,.footer22 img,.footer23 img{
    width:105px;
    height: 110px;
    margin-right: 20px;
    margin-top: 9px;
    float: right;
  }
  .footer1 p,.footer2 p,.footer3 p,.footer4 p,.footer5 p,.footer6 p,.footer7 p,.footer8 p,.footer9 p,.footer10 p
  ,.footer11 p,.footer12 p,.footer13 p,.footer14 p,.footer15 p,.footer16 p,.footer17 p,.footer18 p,.footer19 p,.footer20 p
  ,.footer21 p,.footer22 p,.footer23 p{
    color: black;
    font-size: 13px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;

  }
  .footer1 h2,.footer2 h2,.footer3 h2,.footer4 h2,.footer5 h2,.footer6 h2,.footer7 h2,.footer8 h2,.footer9 h2,.footer10 h2
  ,.footer11 h2,.footer12 h2,.footer13 h2,.footer14 h2,.footer15 h2,.footer16 h2,.footer17 h2,.footer18 h2,.footer19 h2,.footer20 h2
  ,.footer21 h2,.footer22 h2,.footer23 h2{
    color: deeppink;
    font-size: 17px;
  }
 
}

@media(min-width:451px) and (max-width:540px){
  body{
    background: purple;
  }
}
@media(min-width:541px) and (max-width:768px) {
  body{background: rgb(16, 199, 86);
  }
  .footer1,.footer2,.footer3,.footer4,.footer5,.footer6,.footer7,.footer8,.footer9,.footer10
  ,.footer11,.footer12,.footer13,.footer14,.footer15,.footer16,.footer17,.footer18,.footer19,.footer20
  ,.footer21,.footer22,.footer23{
   margin: 0;
   width:100%;
   border-radius: 10px;
   background: white;
   opacity: 1;
   margin-left: 1px;
  
  }
  .footer1 img,.footer2 img,.footer3 img,.footer4 img,.footer5 img,.footer6 img
  ,.footer7 img,.footer8 img,.footer9 img,.footer10 img,.footer11 img,.footer12 img,.footer13 img,.footer14 img,.footer15 img,
  .footer15 img,.footer16 img,.footer17 img,.footer18 img,.footer19 img,.footer20 img,.footer21 img,.footer22 img,.footer23 img{
    width:155px;
    height: 150px;
    margin-right: 20px;
    margin-top: 9px;
    float: right;
  }
  .footer1 p,.footer2 p,.footer3 p,.footer4 p,.footer5 p,.footer6 p,.footer7 p,.footer8 p,.footer9 p,.footer10 p
  ,.footer11 p,.footer12 p,.footer13 p,.footer14 p,.footer15 p,.footer16 p,.footer17 p,.footer18 p,.footer19 p,.footer20 p
  ,.footer21 p,.footer22 p,.footer23 p{
    color: black;
    font-size: 13px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    font-weight: bold;

  }
  .footer1 h2,.footer2 h2,.footer3 h2,.footer4 h2,.footer5 h2,.footer6 h2,.footer7 h2,.footer8 h2,.footer9 h2,.footer10 h2
  ,.footer11 h2,.footer12 h2,.footer13 h2,.footer14 h2,.footer15 h2,.footer16 h2,.footer17 h2,.footer18 h2,.footer19 h2,.footer20 h2
  ,.footer21 h2,.footer22 h2,.footer23 h2{
    color: rgb(31, 9, 228);
    font-size: 17px;
  }
 
}


@media (min-width:769px) and (max-width:1024px) {
  body{
    background: lime;
  }
  .footer1,.footer2,.footer3,.footer4,.footer5,.footer6,.footer7,.footer8,.footer9,.footer10
  ,.footer11,.footer12,.footer13,.footer14,.footer15,.footer16,.footer17,.footer18,.footer19,.footer20
  ,.footer21,.footer22,.footer23{
   margin: 0;
   width:100%;
   border-radius: 10px;
   background: white;
   opacity: 1;
   margin-left: 0;
  
  }
  .footer1 img,.footer2 img,.footer3 img,.footer4 img,.footer5 img,.footer6 img
  ,.footer7 img,.footer8 img,.footer9 img,.footer10 img,.footer11 img,.footer12 img,.footer13 img,.footer14 img,.footer15 img,
  .footer15 img,.footer16 img,.footer17 img,.footer18 img,.footer19 img,.footer20 img,.footer21 img,.footer22 img,.footer23 img{
    width:145px;
    height: 140px;
    margin-right: 20px;
    margin-top: 9px;
    float: right;
  }
  .footer1 p,.footer2 p,.footer3 p,.footer4 p,.footer5 p,.footer6 p,.footer7 p,.footer8 p,.footer9 p,.footer10 p
  ,.footer11 p,.footer12 p,.footer13 p,.footer14 p,.footer15 p,.footer16 p,.footer17 p,.footer18 p,.footer19 p,.footer20 p
  ,.footer21 p,.footer22 p,.footer23 p{
    color: black;
    font-size: 13px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;

  }
  .footer1 h2,.footer2 h2,.footer3 h2,.footer4 h2,.footer5 h2,.footer6 h2,.footer7 h2,.footer8 h2,.footer9 h2,.footer10 h2
  ,.footer11 h2,.footer12 h2,.footer13 h2,.footer14 h2,.footer15 h2,.footer16 h2,.footer17 h2,.footer18 h2,.footer19 h2,.footer20 h2
  ,.footer21 h2,.footer22 h2,.footer23 h2{
    color: deeppink;
    font-size: 17px;
  }
 
}
